/* Default setting for font size, font family, bg color and text-align */
body{
  font-size: 15px;
  font-family: 'CaviarDreams-Reguler';
}

section{
  text-align: center;
}

/*set color for header and footer */
#header,#footer{
  background-color: #0a1a2e;
}

/*css for header ifest */
.header-text{
  font-family: 'BebasNeue-Reguler';
  display: inline-block;
  color: white;
  font-size: 32px;
  padding-top: 20px;
  font-weight: normal;
  margin-left: 10px;
}

.ifest-logo{
  display: inline-block;
  width: 50px;
}

/*css for theme section */
.theme-title{
  font-family: 'BebasNeue-Reguler';
  font-weight: normal;
}

#theme{
  padding-top: 80px;
  padding-bottom: 150px;
  background-image: url('../main-background.jpg');
  background-size: cover;
  background-position: center;
}

/*css for menu bar */
#menu{
  z-index: 11;
  top:0px;
  width:100%;
  background-color: #79281e;
  padding-top: 10px;
  padding-bottom: 10px;
}

#menu .logo{
  float: left;
}

.i2c-logo{
  width: 50px;
}

.navigation{
  float: right;
}

.nav{
  margin-bottom: 0px;
  display:inline-block;
}

.text-link{
  color: white;
  font-size: 12px;
}

.menu-link{
  margin-left: 10px;
  text-decoration: none;
  display: block;
}

.navigation>ul{
  padding-top: 8px;
  margin-bottom: 0px;
}

.dropdown{
  display: none;
}

ul.dropdown-list{
  display: none;
}

.dropdown-nav{
  display: block;
  float: right;
}

#dropdown{
  float: right;
}

#dropdown>img{
  width: 25px;
  margin-top: 12px;
}
