<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>Seminar Nasional - IFEST #5</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->


  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="bower_components/skeleton/css/normalize.css">
  <link rel="stylesheet" href="bower_components/skeleton/css/skeleton.css">
  <link rel="stylesheet" href="css/style.css">

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->

</head>
<body>

  <!-- Primary Page Layout
  ––––––––––––––––––––––––––––––––––––––––––––––––––-->
  <a href="http://ifest-uajy.com">
    <section id="header">
      <div class="container">
        <div class="row">
          <div class="twelve columns">
            <div class="ifest-header">
              <img class="ifest-logo" src="logo-ifest.png" alt="" />
              <h1 class="header-text">Informatics Festival #5</h1>
            </div>
          </div>
        </div>
      </div>
    </section>
  </a>

  <section id="menu">
    <div class="container">
      <div class="row">
        <div class="twelve columns">
            <a href="index.html#header" class="logo">
                <img class="i2c-logo" src="img/logo.png" alt="" />
            </a>
            <nav class="navigation">
                <ul>
                  <li class="nav"><a class="menu-link" href="index.html#speaker"><span class="text-link">PEMBICARA</span></a></li>
                  <li class="nav"><a class="menu-link" href="index.html#benefit"><span class="text-link">INFORMASI</span></a></li>
                  <li class="nav"><a class="menu-link" href="index.html#registration"><span class="text-link">PENDAFTARAN</span></a></li>
                  <li class="nav"><a class="menu-link" href="area-peserta.php"><span class="text-link">AREA PESERTA</span></a></li>
                </ul>
            </nav>
            <div class="dropdown">
                <button type="button" name="button" id="dropdown"><img src="img/menu-icon.png" alt=""></button>
                <ul class="dropdown-list">
                  <li class="nav"><a class="menu-link" href="index.html#speaker"><span class="text-link">PEMBICARA</span></a></li>
                  <li class="nav"><a class="menu-link" href="index.html#benefit"><span class="text-link">INFORMASI</span></a></li>
                  <li class="nav"><a class="menu-link" href="index.html#registration"><span class="text-link">PENDAFTARAN</span></a></li>
                  <li class="nav"><a class="menu-link" href="area-peserta.php"><span class="text-link">AREA PESERTA</span></a></li>
                </div>
                </ul>
            </div>
        </div>
      </div>
    </div>
  </section>

  <section id="form-header">
    <div class="container">
        <div class="twelve columns">
            <div class="form-title">
                Pendaftaran Seminar Nasional
            </div>
            <ul class="breadcrumb-list">
              <li><a href="index.html">Home</a></li> >
              <li>Pendaftaran</li>
            </ul>
        </div>
    </div>
  </section>

  <section ng-app="registerApp" ng-controller="registerCtrl" id="form">
    <div class="container">
      <div class="row">
          <div class="twelve columns">
            <div id="registration-form">
                <div class="content">
                    <div class="form-box">
                      <form ng-submit="registerSubmit()" class="form-registration">
                          <div class="form-row">
                              <label>Nama</label>
                              <input ng-model="formData.name" type="text" name="name" value="" required="">
                            <span ng-show="errors.name[0]" class="error-msg">{{errors.name[0]}}</span>
                          </div>
                          <div class="form-row">
                              <label>Email</label>
                              <input ng-model="formData.email" type="email" name="email" value="" required="">
                            <span ng-show="errors.email[0]" class="error-msg">{{errors.email[0]}}</span>
                          </div>
                          <div class="form-row">
                              <label>No Telepon</label>
                              <input ng-model="formData.phone" type="text" name="phone" value="" required="">
                          </div>
                          <div class="form-row">
                              <label>Kata Sandi</label>
                               <input ng-model="formData.password" type="password" name="password" value="" required="">
                          </div>
                          <div class="form-row">
                            <button ng-disabled="button == 'MENDAFTAR...'" type="submit">{{ button }}</button>
                        </div>
                        <span ng-show="errors.ise">{{ errors.ise }}</span>
                      </form>
                    </div>
                </div>
            </div>
          </div>
        </div>
    </div>
  </section>


  <section id="footer">
      <div class="container">
        <div class="row">
            <div class="six columns">
                <h2>Contact Person</h2>
                <p>+62 838 4040 2240 (Egik)</p>
            </div>
            <div class="six columns">
                <h2>Follow Us</h2>
                <a href="http://line.me/ti/p/~@ykb1847q"><img class="icon-img" src="img/line-icon.png" alt=""></a>
                <a href="https://www.instagram.com/ifest_uajy/"><img class="icon-img" src="img/ig-icon.png" alt=""></a>
            </div>
        </div>
      </div>
    </section>



<script type="text/javascript" src="bower_components/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="bower_components/scrollreveal/dist/scrollreveal.min.js"></script>
<script type="text/javascript" src="js/animation.js"></script>
<script type="text/javascript" src="bower_components/angular/angular.min.js"></script>

<script>

function httpInterceptor() {
  return {
    request: function(config) {
      return config;
    },

    requestError: function(config) {
      return config;
    },

    response: function(res) {
      return res;
    },

    responseError: function(res) {
      return res;
    }
  }
}

var registerApp = angular.module("registerApp", [])
  .factory('httpInterceptor', httpInterceptor)
  .config(function($httpProvider) {
    $httpProvider.interceptors.push('httpInterceptor');
  });

registerApp.controller("registerCtrl", function($scope, $http, $window) {

  $scope.formData = {};
  $scope.errors = {};

  $scope.button = "DAFTAR";

  $scope.registerSubmit = function () {

    $scope.errors = {};

    $scope.button = "MENDAFTAR...";

    $http({
      method  : 'POST',
      url     : 'http://api.ifest-uajy.com/v1/seminar',
      data    : $.param($scope.formData),
      headers : { 'Content-Type': 'application/x-www-form-urlencoded' }
     })
    .then(function(response) {
      switch (response.status) {
        case 400:
          $scope.errors = response.data.errors;
          $scope.button = "DAFTAR";
        break;
        case 500:
          $scope.errors.ise = "Mohon maaf terdapat kesalahan di bagian server.";
          $scope.button = "DAFTAR";
          break;
        default:
          $window.location.href = 'pendaftaran-berhasil.html';
          $scope.button = "DAFTAR";
      }
    });
  }
});

</script>
<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
</html>
